.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid var(--border-color, #dadada);
  background-color: var(--background-color);
}

/* Theme variations */
.cards > ul > li.dark {
  background-color: #333;
  color: #fff;
}

.cards > ul > li.highlight {
  border-width: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
